<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="utf-8">
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
  <meta content="行動科技應用開發者年會 | MOPCON 2017 | Mobile / Open / Platform Conference" property="og:title">
  <meta content="https://2017.mopcon.org" property="og:url">
  <meta content="濁水溪以南最強大行動科技研討會" property="og:description">
  <meta content="https://2017.mopcon.org/images/mopcon2017_large.png" property="og:image">
  <meta content="200" property="og:image:width" >
  <meta content="200" property="og:image:height" >
  <meta content="website" property="og:type">
  <meta content="行動科技應用開發者年會 | MOPCON 2017 | Mobile / Open / Platform Conference" property="og:site_name">
  <title>行動科技應用開發者年會 | MOPCON 2017 | Mobile / Open / Platform Conference</title>
  <!-- HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->

      <!-- styles -->
      <link href="/stylesheets/all.css" rel="stylesheet">
      <link href="/plugin/owl.carousel.min.css" rel="stylesheet">
      <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/images/favicon.ico">
    </head>
    <body>
      <!-- nav -->
      <nav class="navbar">
        <div class="navbar-header">
          <a href="/" class="navbar-brand">
            <img src="/images/nav-logo.svg" width="50px" alt="Mopcon logo">
          </a>
          <button class="navbar-toggle" data-toggle="collapse">
            <span class="fa fa-bars"></span>
          </button>
        </div>
        <div class="navbar-collapse">
          <%/*<ul class="nav navbar-nav">
            <li><a href="#">徵稿</a></li>
            <li><a href="#">議程</a></li>
            <li><a href="#">交流場次</a></li>
            <li><a href="#">講者</a></li>
            <li><a href="#">贊助</a></li>
            <li><a href="#">主辦社群</a></li>
            <li><a href="#">共筆紀錄</a></li>
            <li><a href="#">gitter聊天室</a></li>
          </ul>*/%>
          <ul class="navbar-right">
            <%/*<li class="nav-lang dropdown">
            <a class="btn btn-select dropdown-toggle" data-toggle="dropdown">歷年 MOPCON
              <span class="fa fa-chevron-down
              "></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="https://mopcon.org/2016/" target="_blank">2016</a></li>
              <li><a href="https://mopcon.org/2015/" target="_blank">2015</a></li>
              <li><a href="https://mopcon.org/2014/" target="_blank">2014</a></li>
              <li><a href="https://mopcon.org/2013/" target="_blank">2013</a></li>
              <li><a href="https://mopcon.org/2012/" target="_blank">2012</a></li>
            </ul>
          </li>
          <li class="nav-community pull-right">
            <a href="https://www.facebook.com/mopcon/?fref=ts" class="fa fa-facebook-square fa-2x" target="_blank" title="MOPCON 粉絲團"></a>
            <a href="https://www.flickr.com/photos/mopcon/albums/" target="_blank" class="fa fa-flickr fa-2x" title="flickr"></a>
          </li>*/%>
          <li class="nav-lang">
            <a href="#" class="btn btn-default <%=lang === 'zh_TW' ? 'is-active' : '' %>" onClick="set_language('zh_TW')">中</a>
            <a href="#" class="btn btn-default <%=lang === 'en' ? 'is-active' : '' %>" onClick="set_language('en')">EN</a>
          </li>
        </ul>
      </div>
    </nav>
    <%- body %>
    <!-- footer -->
    <footer class="footer container text-center">
      <a href="mailto:contact@mopcon.org">
        <div class="footer_contactUs">
          Contact
          <br>
          Us
        </div>
        <div class="footer_mail">
          <img src="/images/footer-mail.svg" alt="">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </a>
      <div class="footer_logo">
        <img src="/images/footer-logo.svg" alt="">
      </div>
      <ul class="footer_nav">
        <li class="nav-history dropdown">
          <ul class="dropdown-menu">
            <li><a href="https://mopcon.org/2016/" target="_blank">2016</a></li>
            <li><a href="https://mopcon.org/2015/" target="_blank">2015</a></li>
            <li><a href="https://mopcon.org/2014/" target="_blank">2014</a></li>
            <li><a href="https://mopcon.org/2013/" target="_blank">2013</a></li>
            <li><a href="https://mopcon.org/2012/" target="_blank">2012</a></li>
          </ul>
          <a class="btn btn-select dropdown-toggle" data-toggle="dropdown"><%= __("歷年MOPCON") %>
            <span class="fa fa-chevron-up"></span>
          </a>
        </li>
        <li class="nav-community">
          <a href="https://www.facebook.com/mopcon/?fref=ts" class="fa fa-facebook-square fa-2x" target="_blank" title="MOPCON 粉絲團"></a>
          <a href="https://www.flickr.com/photos/mopcon/albums/" target="_blank" class="fa fa-flickr fa-2x" title="flickr"></a>
          <a href="https://goo.gl/qJRGoJ" class="fa fa-google-plus-square fa-2x" target="_blank" title="MOPCON G+"></a>
          <a href=" https://twitter.com/mopcon" class="fa fa-twitter-square fa-2x" target="_blank" title="MOPCON twitter"></a>
        </li>
      </ul>

    </footer>
  </body>
  <script src="/javascripts/vendor.js"></script>
  <script src="/javascripts/all.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBd8NcCu9BqXZch7AL73UF7huLl-SKIDfU&callback=initMap"
  async defer></script>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-34651129-1']);
    _gaq.push(['_setDomainName', 'mopcon.org']);
    _gaq.push(['_trackPageview']);
    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  </html>
