.btn {
    cursor: pointer;
    margin: 0 5px 5px 0;
    border-radius: 0;
    padding: 10px 12px;
}

.btn-default {
    border: 1px solid $colorWhite;
    background: none;
    color: $colorWhite;
    &.is-active,
    &:hover,
    &:focus,
    &:active {
        border: 1px solid $colorWhite;
        background: $colorWhite;
        color: $colorMainFirst;
    }
}
