.schedule {
    position: relative;
    .schedule_content{
        background-color: $colorMainSecond;
    }
    .btn-primary{
    	display: table;
    	margin: auto;
    }
}

.schedule_deco {
    background-image: url(../images/panel-deco-wave.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding-bottom: 410px;
    @include pad-below () {
        padding-bottom: 40%;
    }
    @include mobile() {
        padding-bottom: 50%;
    }
    display: block;
    &.reverse {
        transform: rotate(180deg)
    }
}
